body {
    padding: 0;
    margin: 0;
    font-family: "Open Sans";
}

/*
Classes Auxiliares
*/

section.main{
	position: relative;
	background-image: url('/images/capa.png');
	background-size: cover;
	background-position: center;
	width: 100%;
	padding:15px 0;
	min-height: 800px;
}

header .menu{
   position: absolute;
    top: 40px;
    left: 0;
    padding: 0 100px;
    width: 100%;
    box-sizing: border-box;
}

header .logo {
    color: #fff;
    height: 50px;
    line-height: 50px;
    font-size: 24px;
    float: left;
    font-weight: bold;
}

/*
menu mobile
*/

header nav
{
    float: right;
    z-index: 2;
}

header nav ul
{
    margin: 0;
    padding: 0;
    display: flex;
}
header nav ul li
{
    list-style: none;
}
header nav ul li a
{
    color: #fff;
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    text-decoration: none;
    display: block;

}
header nav ul li a:hover,
header nav ul li a.active
{
    color: aqua;
    text-decoration:none;
    display: block;
    
}

.menu-toggle
{
    color: #fff;
    float: right;
    line-height: 50px;
    font-size: 24px;
    cursor: pointer;
    display: none;
    
}

.botao  {
     background: -webkit-linear-gradient(bottom, #E0E0E0, #F9F9F9 70%);
     background: -moz-linear-gradient(bottom, #E0E0E0, #F9F9F9 70%);
     background: -o-linear-gradient(bottom, #E0E0E0, #F9F9F9 70%);
     background: -ms-linear-gradient(bottom, #E0E0E0, #F9F9F9 70%);
     background: linear-gradient(bottom, #E0E0E0, #F9F9F9 70%);
     border: 1px solid #CCCCCE;
     border-radius: 15px;
     box-shadow: 0 3px 0 rgba(0, 0, 0, .3),
                   0 2px 7px rgba(0, 0, 0, 0.2);
     color: #616165;
     display: block;
     font-family: "Trebuchet MS";
     font-size: 14px;
     font-weight: bold;
     line-height: 25px;
     text-align: center;
     text-decoration: none;
     text-transform: uppercase;
     text-shadow:1px 1px 0 #FFF;
     padding: 5px 15px;
     width: 130px;
    
	
}

.conteudo
{
    margin: 0;
    padding: 0;
    position: absolute;
    top: 45%;
    left: 35%;
    transform: translateX(-50%) translateY(-50%;);
    color: #fff;
}

.conteudo h3 {
    font-family: 'Playfair Display', serif;
    font-size: 45px;
}

.conteudo h1 {
    font-family: 'Archivo Black', sans-serif;
    font-size: 40px;
    
} 

.conteudo p {
    font-size: 12px;
}

.shadow
{
    position: relative;
    margin: -55px auto;
    width: 100%;
    height: 380px;
    background-color: #fff;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,.2);
    
}
.dir
{
    background: url(/images/imagem_center.png);
    width: 290px;
    height: 100%;
}

.cont
{
    margin: 0;
    padding: 0;
    position: absolute;
    top: 15%;
    left: 3%;
    transform: translateX(-50%) translateY(-50%;);
    
}

.cont h1
{
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}
.cont p
{
    font-size: 15px;
    color: #fff;
    
}
.dir a
{
    margin: 0;
    padding: 3px;
    top: 88%;
    position: absolute;
    background-color: #fff;
    width: 110px;
    height: 30px;
    text-align: center;
    border-radius: 0 15px 15px 0;
    color: #757575;
    text-decoration: none;
    
}
.dir a i
{
    margin: 5px;
    color: #757575;
    font-size: 10px;
}
.esq img
{
    margin: 0;
    padding: 0;
    position: absolute;
    top: 20%;
    left: 32%;
    height:35px;
}
.esq h3 
{
    margin: 0;
    padding: 0;
    position: absolute;
    top: 20%;
    left: 38%;
    font-size: 20px;
    color: #838383;
}
.esq p 
{
    margin: 0;
    padding: 0;
    position: absolute;
    top: 29%;
    left: 38%;
    font-size: 13px;
    color: #838383;
}
.esq1 img
{
    margin: 0;
    padding: 0;
    position: absolute;
    top: 54%;
    left: 32%;
    height:35px;
}
.esq1 h3 
{
    margin: 0;
    padding: 0;
    position: absolute;
    top: 54%;
    left: 38%;
    font-size: 20px;
    color: #838383;
}
.esq1 p 
{
    margin: 0;
    padding: 0;
    position: absolute;
    top: 63%;
    left: 38%;
    font-size: 13px;
    color: #838383;
}
.esq2 img
{
    margin: 0;
    padding: 0;
    position: absolute;
    top: 20%;
    left: 65%;
    height:35px;
}
.esq2 h3 
{
    margin: 0;
    padding: 0;
    position: absolute;
    top: 20%;
    left: 70%;
    font-size: 20px;
    color: #838383;
}
.esq2 p 
{
    margin: 0;
    padding: 0;
    position: absolute;
    top: 29%;
    left: 70%;
    font-size: 13px;
    color: #838383;
}
.esq3 img
{
    margin: 0;
    padding: 0;
    position: absolute;
    top: 54%;
    left: 65%;
    height:35px;
}
.esq3 h3 
{
    margin: 0;
    padding: 0;
    position: absolute;
    top: 54%;
    left: 70%;
    font-size: 20px;
    color: #838383;
}
.esq3 p 
{
    margin: 0;
    padding: 0;
    position: absolute;
    top: 63%;
    left: 70%;
    font-size: 13px;
    color: #838383;
}
.bg img
{
    width: 100%;
    margin-top: 18%;
    text-align: right;
    margin-left: 31%;
    position: relative;
    display: flex;
    max-width:100%;
    height: auto;
    z-index:1;
}
.bg1 img
{
    width: 28%;
    height: auto;
    bottom: 0%;
    position: absolute;
    top: 127.3%;
    text-align: left;
    left: 10%; 
    display: flex;
    max-width:100%;
    z-index:1;
}
.bg2 img
{
    width: 30%;
    height: auto;
    bottom: 0%;
    position: absolute;
    top: 140%;
    right: 450px;
    display: flex;
    max-width:100%;
    z-index:1;
}




/*parallax*/
.parallax
{
    width: 100%;
    height: 50vh;
    background: url(/images/banner.png);
    background-size: cover;
    background-attachment: fixed;
}

.meio
{
    width: 100%;
    height: 60vh;
    background-color: aqua;
}

.seman
{
    padding: 0;
    margin: 0;
    display: flex;
}
.seman h1
{
    margin: 0;
    padding: 0;
    position: absolute;
    left: 28%;
    font-size: 50px;
    color: #fff;
    padding-top: 5%;
}
.seman p
{
    margin: 0;
    padding: 0;
    position: absolute;
    left: 35%;
    font-size: 12px;
    color: #fff;
    padding-top: 9%;
    text-align: center;
}
.seman .btn1
{
   text-align: center;
  
}

/* mobile*/

@media screen and (max-width: 955px) {
    
    header .menu
    {
        padding: 0 20px;
    }
    .menu-toggle
    {
        display: block;
        position:
    }
    .menu nav
    {
        position: absolute;
        width: 100%;
        height: calc(100vh - 50px);
        background: #333;
        top: 50px;
        left: 0;
        transition: 0.5s;
        
    }
    
    .menu nav.active
    {
        left: -100%;
    }
    .menu nav ul
    {
        display: block;
        text-align: center;
    }
    header nav ul li a
    {
        border-bottom: 1px solid rgba(0,0,0,.2);
    }
    header nav ul li a:hover,
    header nav ul li a.active
{
    color: aqua;
    text-decoration:none;
    display: block;
    background-color: #21457f;
    color: #fff;
}
    .center
    {
        padding: 10px;
        display: flex;
    }
   
    
}

@media screen and (max-width: 495px) {

 .conteudo h3
    {
        font-size: 35px;
    }
    
    .conteudo h1
    {
        font-size: 25px;
    }
     .conteudo p
    {
        font-size: 15px;
    }
    .conteudo 
    {
        left: 0;
        padding: 20px;
    }
    
}





















